@import url(https://fonts.googleapis.com/css?family=Play:400,700|Lato:400,700|Source+Code+Pro:400,700);

$font-body: 'Lato', sans-serif;
$font-header: 'Play', sans-serif;
$font-monospace: 'Source Code Pro';
