@import "../common/fonts";

.slide-contents {
  font-family: $font-body;
  font-size: 24px;

  & h1 {
    font-family: $font-header;
    font-size: 42px;

    padding-bottom: 6px;
    border-bottom: 1px solid gray;
  }

  & pre {
    font-size: 18px;
    font-family: $font-monospace;
    border: 1px gray solid;
    background-color: #f0eee9;
    padding: 6px;
  }

  & img {
    max-width: 100%;
  }
}

.slide-controls {
  position: fixed;
  bottom: 0;
  right: 0;

  & .slide-controls-panel {
    opacity: 0;
  }

  &:hover .slide-controls-panel {
    opacity: 1;
  }
}

.slide-controls-panel {
  margin-bottom: 12px;
  margin-right: 12px;

  transition: opacity 0.2s ease-out;

  font-size: 14px;

  & > .slideNumberText {
    padding: 0 6px;
    font-weight: 900;
  }
}

.slide-example {
  font-family: $font-body;
  font-size: 20px;
  padding: 12px;


}

.example-component {
  padding: 12px;
  margin: 12px;
  background-color: #c6d6ff;

  &:before {
    display: block;
    content: 'Komponentti';
    font-size: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid;
  }

}
