@import '../../common/fonts';

.cover {
  text-align: center;

  & h1 {
    font-family: $font-header;
    font-weight: 900;

    margin-top: 15%;
    margin-bottom: 36px;
    font-size: 72px;
  }

  & img {
    max-width: 25%;
  }

  & .cover-shadow {
    width: 20%;
    height: 0px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    box-shadow: 0px 10px 50px 10px rgba(38,28,71,1);
  }
}