@import "../../common/fonts";

.summary {
  width: 100%;
  opacity: 1;

  transition: opacity 1s ease-out;

  &.is-appearing {
    opacity: 0;
  }
}

.summary-image {
  margin-top: 12px;
  display: block;
  max-height: 460px;
  margin-left: auto;
  margin-right: auto;
}

.summary-giovanni {
  cursor: url("../../../static/webpack.png"), auto;
}

.summary-caption {
  font-family: $font-body;
  font-size: 20px;
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}